.main_bgr {
    background-color: #CFDDFF;
    padding: 5px 5px 5px 5px;
    height: 100%;
}
.main_bgr_dash {
    background-color: #CFDDFF;
    padding: 8px 10px 15px 10px;
    height: auto;
}

.div_center {
    margin: auto;
    display: block;
    text-align: center;
}

.login_area {
    background-color: #FCFCFC;
    overflow: auto;   /*experimental, biar konten gak offside */
    border-radius: 10px;
    padding: 40px 3px 50px 3px;
    width: 50%;
    margin: auto;
    height: 540px;
}

.detail_area{
    background-color: white;
    overflow: auto;   /*experimental, biar konten gak offside */
    border-radius: 10px;
    margin-left: 17%;
    margin-top: 13px;
    /* margin: auto; */
    width: 65%;
}

.combo_lbl{
    margin-left: 30px;
    font-size: large;
}

.combo-style{
    width: 200px;
    height: 30px;
    margin-left: 6px;
    margin-top: 6px;
}

.input-style{
    width: 200px;
    margin-left: 6px;
    margin-top: 10px;
}

/* dari acha */
.main_bgr2{
	background-color: #CFDDFF;
	padding: 5px 5px 10px 5px;
	height: 100%;
}

.id_atas {
	width:70%;
	margin-top : 10px;
}

.login_area2{
	background-color: #FCFCFC;
	/*overflow: auto;*/   /*experimental, biar konten gak offside */
	border-radius: 10px;
	padding: 40px 3px 50px 3px;
	width: 40%;
	margin: auto;
	/*height: 350px;*/
}

.main_bgr_input {
	background-color: #CFDDFF;
	padding: 5px 5px 5px 5px;
	margin: auto;
	height: auto;
	border: 1px solid #CFDDFF;
	border-radius: 8px;
}

.form_eval {
	margin-left: 5px;
}

.idkar_area{
	background-color: white;
	overflow: auto;
	border-radius: 10px;
	margin: auto;
	width: 98%;
}

.cb_report{
    float: left;
    width: 20%;
}


.div_set_uk{
    border-radius: 5px;
    background-color: whitesmoke;
    display: block;
    height: 210px;
}

.overflow_enable{
    display: block;
    height: 160px;
    overflow: scroll;
}
