.main_bgr {
    background-color: #CFDDFF;
    padding: 5px 5px 5px 5px;
    height: auto;
}

.div_center {
    margin: auto;
    display: block;
    text-align: center;
}

.login_area {
    background-color: #FCFCFC;
    overflow: auto;   /*experimental, biar konten gak offside */
    border-radius: 10px;
    padding: 40px 3px 3px 3px;
    width: 50%;
    margin: auto;
}